body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    background-color: #239862;
}

.design{
    z-index: 8;
    transform: translateZ(0);
    padding-left: 24.5%;
    padding-right: 24.5%;
    max-width: 100%;
}
.text-container{
    position: relative;
    max-width: 100%;
    height: auto;
    padding-left: 24.5%;
    padding-right: 24.5%;
    z-index: 9;
}
.head{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 8;
}
img {
    max-width: 100%;
    height: auto;
    display: block;
}

.button-container {
    transform: translateY(50%) translateX(0);
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 10;
    gap: 500px;
}

.button-container2{
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: center;
    gap: 200px;
}

.hover-button2 {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
    font-size: 30px;
    font-family: "InvolveSB";
    color: white;
    background-color: #0f9838;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
}

.hover-button2:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 6px rgba(0, 0, 0, 0.226);
}

.hover-button {
    z-index: 10;
    font-size: 45px;
    font-family: "KhandB";
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.388);
    background-color: #ffffff00;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.5s ease, text-decoration 0.3s ease;
}

.hover-button:hover {
    text-decoration: underline;
    transform: scale(1.1);
    color: #7dffdc;
}
.wrapper {
    margin: 0 auto;
    width: 100vw;
}

.parallax {
    position: relative;
    perspective: 1px;
    padding-bottom: 50%;
    overflow: hidden;
    overflow-y: auto;
}

.parallax-layer {
    position: absolute;
    inset: 0;   
}
  
.parallax-text1 {
    transform: translateY(100%);
    padding-bottom: 7.5%;
    font-size: 50px;
    font-family: "InvolveSB";
    color: #ffffff;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 10px 50px rgb(59, 193, 255);
}
.parallax-text2 {
    transform: translateY(125%);
    padding-bottom: 8%;
    font-size: 72px;
    font-family: "InvolveB";
    color: #ffffff;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 10px 50px rgba(59, 193, 255, 0.714);
}

.parallax-image1, .parallax-image2, .parallax-image3, .parallax-image4, .parallax-image5, .parallax-image6, .parallax-image7, .parallax-image8 {
    width: 100%;
}
.parallax-image1 {
    transform: translateZ(0);
    z-index: 9;
}
  
.parallax-image2 {
    z-index: 7;
    transform: translateZ(-1px) scale(2);
}

.parallax-image3 {
    z-index: 6;
    transform: translateZ(-2px) scale(3);
}

.parallax-image4 {
    z-index: 5;
    transform: translateZ(-3px) scale(4);
}

.parallax-image5 {
    z-index: 4;
    transform: translateZ(-4px) scale(5);
}

.parallax-image6 {
    z-index: 3;
    transform: translateZ(-5px) scale(6);
}

.parallax-image7 {
    z-index: 2;
    transform: translateZ(-6px) scale(7);
}
.parallax-image8 {
    z-index: 1;
    transform: translateZ(-7px) scale(8);
}

main {
    position: relative;
    z-index: 10;
    background-color: #FFFFFF;
    height: 80%;
    color: #666666;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30%;
}

.intro, .features {
    max-width: 800px;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

.download{
    margin-bottom: 20px;
}

.features {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.226);
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
}

footer {
    
    background-color: #506756;
    color: #c7c7c7;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
@media (max-width: 2300px){
    .hover-button{
        
    }
}
@media (max-width: 2000px){
    .parallax-text1{
        font-size: 35px;
    }
    .parallax-text2{
        font-size: 50px;
    }
}
@media (max-width: 1600px) {
    .hover-button{
        
    }
    .parallax-text1{
        font-size: 20px;
    }
    .parallax-text2{
        font-size: 30px;
    }
}
@media (max-width: 1000px) {
    .hover-button{
        
    }
    .parallax-text1{
        font-size: 15px;
    }
    .parallax-text2{
        font-size: 25px;
    }
}
@media (max-width: 700px) {
    .hover-button{
        
    }
    .parallax-text1{
        font-size: 10px;
    }
    .parallax-text2{
        font-size: 15px;
    }
}

h1{
    font-family: "InvolveSB", sans-serif;
}

h2{
    font-family: "InvolveM", sans-serif;
}

p{
    font-family: "InvolveR", sans-serif;
}
.item1{
    grid-area: a;
    font-family: "InvolveM", sans-serif;
}
.item2{
    grid-area: b;
    font-family: "InvolveM", sans-serif;
}
.item3{
    grid-area: c;
    font-family: "InvolveM", sans-serif;
}
.item4{
    grid-area: d;
    font-family: "InvolveM", sans-serif;
}
.grid-cont{
    display: grid;
    grid-template-areas: 
    'a a b b'
    'c c b b'
    'c c b b'
    'c c d d';
    width: 100%;
    grid-gap: 20px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-top: 20px;
}
.grid-cont >div{
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
@font-face {

    font-family: "InvolveSB"; 
    src: url("/LABs-Frontend/fonts/Involve-SemiBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
  } 

@font-face {
    font-family: "InvolveM"; 
    src: url("/LABs-Frontend/fonts/Involve-Medium.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "InvolveR"; 
    src: url("/LABs-Frontend/fonts/Involve-Regular.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "InvolveB"; 
    src: url("/LABs-Frontend/fonts/Involve-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
} 

@font-face {
    font-family: "KhandB"; 
    src: url("/LABs-Frontend/fonts/Khand-SemiBold.woff") format("woff"); 
    font-style: normal; 
    font-weight: normal; 
} 