body {
    position: relative;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
}

.sidebar-title {
    padding-left: 1.5rem;
    padding-bottom: 0.5rem;
}

.carousel img {
    width: 50%;
    height: auto;
    margin: auto;
}

.card-img-top {
    width: 50%;
    height: auto;
    margin: auto;
}