<p>Полученный параметр ID: {{ id }}</p>

<div class="container">
    <h1>Добавление товаров</h1>
    
    <div>
        <h2>Форма добавления</h2>
        <app-item-form (formSubmit)="onFormSubmit($event)"></app-item-form>
    </div>

    <h1>Добавление товаров (Template-Driven)</h1>
    
    <div>
        <h2>Форма добавления</h2>
        <app-item-form-td (formSubmit)="onFormSubmit($event)"></app-item-form-td>
    </div>
    
    <h2>Список товаров</h2>
    
    <div *ngIf="items.length === 0">
        Нет добавленных товаров
    </div>
    
    <div *ngFor="let item of items">
        <div class="form-item">
        <h5>{{ item.name }}</h5>
        <p>{{ item.description }}</p>
        <p><strong>Цена:</strong> {{ item.price | priceFormat }}</p>
        </div>
    </div>
</div>

<button (click)="goMain()">На главную</button>